@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1732499974970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nongyun:before {
  content: "\f020d";
}

.icon-mn_dunpai_fill:before {
  content: "\e518";
}

.icon-gaojing:before {
  content: "\e601";
}

.icon-zuoxitouxiang:before {
  content: "\e615";
}

.icon-longjuanfeng:before {
  content: "\e740";
}

.icon-lingdang:before {
  content: "\e636";
}

